$gridWidth: 60vw
$itemBaseHeight: $gridWidth / 6 / 1.5

@media(max-width: 900px)
  $gridWidth: 100vw


.grid
  width: $gridWidth
  margin: 0 auto
  padding: 2px
  background: white
  display: grid
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr
  // grid-template-rows: repeat(auto-fill, $itemBaseHeight)
  grid-auto-rows: $itemBaseHeight
  .grid-item
    // height: $itemBaseHeight
    background: #ddd
    border: 2px solid white
    box-sizing: border-box
    width: 100%
    overflow: hidden
    display: flex
    justify-content: center
    align-items: center
    
    p
      font-size: 3rem
      color: #aaa
    img
      // width: 100%
      height: 100%

    &--1
      grid-column: 1 / 5
      grid-row: 1 / 5
    &--2
      grid-column-start: 5
      grid-column-end: column6-end
      grid-row: 1 / 3
    &--3
      grid-column: 1 / 3
      grid-row: 5 / 7
    &--4
      grid-column: 3 / 5
      grid-row: 5 / 7
    &--5
      grid-column-start: 5
      grid-column-end: column6-end
      grid-row: 3 / 7
    &--6
      grid-column: 1 / 4
      grid-row: 7 / 10
    &--7
      grid-column-start: 4
      grid-column-end: column6-end
      grid-row: 7 / 10
    &--8
      grid-column: 1 / 3
      grid-row: 10 / 12
    &--9
      grid-column: 1 / 3
      grid-row: 12 / 16
    &--10
      grid-column-start: 3
      grid-column-end: column6-end
      grid-row: 10 / 14
    &--11
      grid-column: 3 / 5
      grid-row: 14 / 16
    
