@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700|Archivo:700')

.project-content-container
  font-family: 'Roboto', 'Helvetica Neue', sans-serif
  background: white
  margin: 0
  padding: 0 2rem
  width: calc(80vw - 340px)
  color: white
  position: relative
  top: 0
  @media(min-width: 2040px)
    width: 1500px
  
  .placeholder
    opacity: 0
  .arrow-down
    position: absolute
    top: 90vh
    left: calc(50% - 30px)
    width: 60px
    &:hover
      opacity: .7
    img
      width: 100%
  .project-info
    // margin-left: 2rem
    position: fixed
    .project-title
      text-transform: uppercase
      font:
        family: 'Aileron', 'Helvetica Neue', sans-serif
        size: 1.6rem
        weight: bold
      margin: 1rem 0 0

    .project-location
      font-size: .8rem

  .project-content
    margin-top: 100vh
    
    .mobile-title
      display: none
      

    .project-lead-description
      color: #111111
      padding: 1rem 0
      // margin-bottom: 1rem     
      line-height: 1.5
      font:
        size: 1rem
        weight: bold
      letter-spacing: .4px
    .project-description
      color: #050505
      padding: 1rem 0 2rem
      margin-bottom: 1rem     
      // column-count: 2 
      line-height: 1.5
      text-align: left
      max-width: 800px
      font:
        size: 1rem
        weight: 300
      letter-spacing: .4px

    .image-container
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      .project-img
        width: 100%
        margin-bottom: 1rem
        opacity: 1

  @media(max-width: 1080px)
    margin: 0
    width: 100%
  @media(max-width: 970px)
    .project-content .project-description
      column-count: 1
  @media(max-width: 768px)
    padding: 0
    .project-content
      .mobile-title
        display: block
        position: relative
        color: #111

      .project-description
        column-count: 1
    .project-info
      bottom: 20px