$gridWidth: 60vw
$itemBaseHeight: $gridWidth / 6 / 1.5

@media(max-width: 900px)
  $gridWidth: 100vw


.grid
  width: $gridWidth
  margin: 1rem auto
  padding: 2px
  display: grid
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr
  grid-auto-rows: $itemBaseHeight
  grid-gap: 4px
  
  .grid-item
    position: relative
    background: #ddd
    box-sizing: border-box
    width: 100%
    overflow: hidden
    display: flex
    justify-content: center
    align-items: center
    
    .img-tag-container
      opacity: 0
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      background: rgba(white, .7)
      transition: opacity 200ms ease-in-out
      .img-tag
        background: #fff
        position: absolute
        bottom: 0
        left: 0
        width: 100%
        padding: .3rem 1rem
        color: #111
        font-size: .7rem
        z-index: 2

        .img-name
          text-transform: uppercase
          font-weight: bold



    &:hover
      .img-tag-container
        opacity: 1

    img
      height: 100%

    &--1
      grid-column: 1 / 5
      grid-row: 1 / 5
    &--2
      grid-column-start: 5
      grid-column-end: column6-end
      grid-row: 1 / 3
    &--3
      grid-column: 1 / 3
      grid-row: 5 / 7
    &--4
      grid-column: 3 / 5
      grid-row: 5 / 7
    &--5
      grid-column-start: 5
      grid-column-end: column6-end
      grid-row: 3 / 7
    &--6
      grid-column: 1 / 4
      grid-row: 7 / 10
    &--7
      grid-column-start: 4
      grid-column-end: column6-end
      grid-row: 7 / 10
    &--8
      grid-column: 1 / 3
      grid-row: 10 / 12
    &--9
      grid-column: 1 / 3
      grid-row: 12 / 16
    &--10
      grid-column-start: 3
      grid-column-end: column6-end
      grid-row: 10 / 14
    &--11
      grid-column: 3 / 5
      grid-row: 14 / 16
    
