$gridWidth: 720px
$itemBaseHeight: calc(720px / 6 / 1.5)
  
.team-container
  width: $gridWidth
  margin: 0 0 0 0 
  padding: 0
  display: grid
  grid-template-columns: 1fr 1fr 1fr
  // grid-auto-rows: $itemBaseHeight
  grid-gap: 4px
 

  .team-member
    // width: 50%
    padding: 0 .4rem 1rem
    margin-bottom: 1rem

    &-name
      text-transform: uppercase
      font-weight: bold
    
    &-email
      font-size: .8rem
      margin-bottom: 1rem
    &-description
      font-size: .9rem
      line-height: 1.2
    img
      margin-bottom: .5rem
      width: 100%
      // display: none

  @media(max-width: 1080px)
    width: calc(100vw - 310px)
    // grid-auto-rows: calc(calc(100vw - 310px) / 6 / 1.5)

  @media(max-width: 768px)
    width: 100vw
    grid-template-columns: 1fr
    padding: 1rem
    .team-member
      // width: 50%
      padding: 0 0 1rem
      margin-bottom: 1rem

      .team-member-info
        padding: 0 
